html{
    background: #ffffff;
    font-family:  'Segoe UI', 'Open Sans';
    overflow: scroll;
    overflow-x: hidden;
    max-width: 1300px;
    max-height: 950px;
}
::-webkit-scrollbar{
    size: 15px; 
}

*, *:before, *after{
    box-sizing: inherit;
}
.aside{
    background: #241414 0% 0% no-repeat padding-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 1080px;
}
.company{
    text-align: center;
    line-height: 0.5;
    color: white;
    font-size: 15px;
    font-family: 'Open sans';
    padding: 10px;
}
.logo{
    width: 100px;
    height: 105px;
    background: transparent url('img/logo-wide.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav{
    margin-top: 45px;
    font-family: 'Segoe UI';
    font-size: 18px;
    color: white;
}
.nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 17px 15px;
}
.nav a:hover{
    color: #241414;
    text-decoration: none;
    background: #FFDC76;
}
.nav a:active{
    color: #241414;
    text-decoration: none;
    background: #FEFEA4;
}
.nav div{
    margin-top: 110px;
}
footer{
    text-align: center;
    color: white;
    font-family: 'Open sans';
    font-size: 9px;
    margin-top: 160px;
}
.main{
    top: 30px;
    margin-left: 325px;
    width: 73%;
    height: 1049px;
    background: #ffffff 0% 0% no-repeat;
    position: absolute;
    opacity: 1;
}
.page_wrapper{
    border-bottom: 1px solid #3C3C3D;
    height: 1072px;
}
.header{
    display: inline-block;
    width:  100%;
    border-bottom: 1px solid gray;
    color: #595a5b
}
.dash, .name, .reg{
    display: inline-block;
    vertical-align: top;
}
.dash, .reg{
    text-align: left;
    margin: 0px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 400;
}
.fa-bars{
    color: #4B5155;
    font-size: 20px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.name{
    max-width: 900px;
    float: right;
    width: 215px;
    text-align: right;
    font-family: 'Open sans';
    text-align-last: left;
    line-height: 1;
}
.name strong{
    font-size: 18px;
    font-weight: 400;
    color: #484C4E;
}
.name em{
    font-size: 11px; 
}
.name img{
    width: 40px;
    height: 42px;
    background: transparent url('img/logo-wide.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50px;
    float: left;
    margin: 10px;
    border: 2px solid gray;
}
.section{
    font-family: 'Open sans';
    letter-spacing: 0;
    margin-top: 10px;
    font-size: 18px;
    color: #212223;

}
.section div{
    height: 227px;
}
.section strong{
    font-family: 'Segoe UI';
    font-size: 51px;
    font-weight: 400;
    color: black;
}
.section p{
    display: block;
    padding: 75px 15px;
    padding-bottom: 0px;
    margin-top: 30px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px #00000029;
    border-radius: 8px;
    height: 179px;
    background: #FEFEA4 0% 0% no-repeat padding-box;
}
.left, .right{
    display: inline-block;
}
.left p{
    padding-right: 30px;
}
.right{
    float: right;
}
.right p{
    padding-right: 100px;
}
.search_bar{
    width: 100%;
    display: block;
    font-family: 'Open sans';
    margin: 40px 0px;
}
.search{
    display: block;
    height: 36px;
    background: #ABA6A6 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 22px;
    color: white;
    padding: 0px 10px;
}
.bar_wrapper{
    height: 85px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 11px solid #ABA6A6;
    border-top: none;
    opacity: 1;
}
.bar{
    display: inline-block;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: 500;
    color: #595A5B;
}
[type='text']{
    box-sizing: border-box;
    width: 240px;
    height: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    opacity: 1;
}
[type='submit']{
    box-sizing: border-box;
    height: 36px;
    width: 75px;
    background: #241414 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
::placeholder{
    font-size: 11px;
    padding: 5px;;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: 'Segoe UI';
    color: darkslategray;
    margin: 40px 0px;
    border-spacing: 1px;
}
td{
    padding: 11px;
    text-align: left;
    height: 40px;
    font-size: 14px;
}
th{
    background: #241414 0% 0% no-repeat;
    color: white;
    font-weight: 400;
    padding: 8px;
    text-align: left;
    height: 35px;
}
tr:nth-child(even){
    background: #F3F3F3;
    border: none;
}
tr:nth-child(odd){
    background: #C1BCBC;
    border: none;
}