body{
    background: #ffffff;
    font-family:  'Segoe UI', 'Open Sans';
    margin: 0;
}

*, *:before, *after{
    box-sizing: inherit;
}
.page_wrapper{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border-bottom: 1px solid #3C3C3D;
    min-height: 99vh;
}
.aside{
    grid-column: span 2;
    background: #241414 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-rows: 200px 1fr 50px;
    
}
.company{
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Open sans';
    padding: 10px;
}
.logo{
    height: 105px;
}
.nav{
    display: grid;
    font-size: 18px;
    color: white;
}
.nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 17px 15px;
}
.nav a:hover{
    color: #241414;
    text-decoration: none;
    background: #FFDC76;
}
.nav a:active{
    color: #241414;
    text-decoration: none;
    background: #FEFEA4;
}

.footer{
    text-align: center;
    color: white;
    font-family: 'Open sans';
    font-size: 9px;
    align-self: end;
}
.main{
    grid-column: span 7;
}

.header{
    box-sizing: border-box;
    padding: 10px 20px;
    width:  100%;
    border-bottom: 1px solid gray;
    color: #595a5b;
    display: flex;
    justify-content: space-between;
}

.dash p{
    display: flex;
}
.fa-bars{
    fill: #4B5155;
    width: 20px;
    margin-right: 10px;
}
.name{
    display: flex;
    align-items: center;
    width: 215px;
    font-family: 'Open sans';
    line-height: 1;
}
.name strong{
    font-size: 18px;
    font-weight: 400;
    color: #484C4E;
}
.name em{
    font-size: 11px; 
}
.name img{
    width: 40px;
    height: 42px;
    border-radius: 100%;
    margin: 0px 7px;
    border: 2px solid gray;
}
.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 25px;
    font-family: 'Open sans';
    font-size: 18px;
    color: #212223;
}
.section div{
    max-width: 500px;
    max-height: 227px;
}
.section strong{
    font-family: 'Segoe UI';
    font-size: 51px;
    font-weight: 400;
    color: black;
}
.section p{
    padding: 75px 15px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px #00000029;
    border-radius: 8px;
    height: 179px;
    background: #FEFEA4 0% 0% no-repeat padding-box;
}

.data{
    padding: 0px 25px;
}
.search_bar{
    font-family: 'Open sans';
}
.search{
    height: 36px;
    background: #ABA6A6 0% 0% no-repeat padding-box;
    font-size: 22px;
    color: white;
    padding: 0px 10px;
}
.bar_wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 85px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 11px solid #ABA6A6;
    border-top: none;
}
.bar{
    display: inline-block;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #595A5B;
}
[type='text']{
    box-sizing: border-box;
    width: 240px;
    height: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    padding: 5px;
}
[type='text']:active,
[type='text']:focus{
    outline: none;
}
[type='submit']{
    align-self: center;
    box-sizing: border-box;
    height: 36px;
    width: 75px;
    background: #241414 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin-top: 15px;
}
::placeholder{
    font-size: 11px;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: 'Segoe UI';
    color: darkslategray;
    margin: 40px 0px;
}
td{
    padding: 11px;
    text-align: left;
    height: 40px;
    font-size: 14px;
}
th{
    background: #241414 0% 0% no-repeat;
    color: white;
    font-weight: 400;
    padding: 8px;
    text-align: left;
    height: 35px;
}
tbody tr:nth-child(even){
    background: #F3F3F3;
}
tbody tr:nth-child(odd){
    background: #C1BCBC;
}