body{
    background: #241414 0% 0% no-repeat padding-box;
    font-family:  'Segoe UI', 'Open Sans';
}
*, *:before, *after{
    box-sizing: inherit;
}

.page-wrapper{
    display: grid;
    grid-template-rows: 150px 1fr 150px;
}
.login-box{
    grid-column: 5/ span 4;
    grid-row-start: 2;
    max-width: 500px;
}
.header_wrapper{
    background: #FEFEA4 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0px;
}
.logo{
    height: 105px;
}
.company{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
    color: dimgray;
    text-align: left;
}
.logo, .company{
    display: inline-block;
    vertical-align: top;
}
.form_wrapper{
    font-family: 'Open Sans';
    height: 400px;
    background: #151514 0% 0% no-repeat padding-box;
    border: 1px solid #FEFEA4;
    text-align: center;
    color: white;
    font-size: 15px;
}
.form_wrapper a{
    color: white;
    text-decoration: none;
}
::placeholder{
    color: white;
}
legend{
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding: 25px;
}
.username, .password{
    border: none;
    border-bottom: 1px solid darkgray;
    background: none;
    height: 50px;
    width: 380px;
    margin: 10px;
    font-family: 'Segoe UI';
    font-size: 15px;
}
.username:focus,
.username:active,
.password:focus,
.password:active{
    outline: none;
}
[type="text"],[type="password"]{
    color: white;
}
.login{
    border: none;
    width: 215px;
    height: 50px;
    color: white;
    background: #D3504A;
    font-family: 'Segoe UI';
    font-size: 15px;
    margin: 25px;
    cursor: pointer;
}